language: objective-c
osx_image: xcode9.2

script:
    - xcodebuild clean test -project ADNetPromoterScoreSurvey.xcodeproj -scheme ADNetPromoterScoreSurvey -destination "platform=iOS Simulator,name=iPhone 8,OS=11.2" CODE_SIGNING_REQUIRED=NO
